canvas {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
}

#chat {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;

	background: rgba(255, 255, 255, .3);
	background: rgba(0, 0, 0, .3);
	color: black;

	.messages, input, button {
		font-size: 14px;
	}

	.messages {
		min-height: 1rem;
		padding: 0 .5rem;
		margin: 0;
	}


	form {
		display: flex;
	}

	input {
		background: transparent;
		margin: 0;
		border: 0 solid black;
		padding: .25rem .5rem;
		box-sizing: border-box;
		border-width: 1px 1px 0 0;
	}
}
